<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'User page ' + user.getName()}"> </title>
</head>
<body>
<div align="center">
    <h2 th:text="'User ' + ${user.getName()}" th:if="${user.getName() != 'null'}"></h2>
    <form th:method="POST" th:action="(${user.getName() == 'null'}) ? '/users/new' : ${user.id}" modelAttribute="user">

        <label for="name">Name</label>
        <input name="name" type="text" id="name" th:value="${user.getName()}"/>

        <br>

        <label for="surname">Surname</label>
        <input name="surname" type="text" id="surname" th:value="${user.getSurname()}"/>

        <br>

        <label for="email">Email</label>
        <input name="email" type="text" id="email" th:value="${user.getEmail()}"/>
        <br>
        <a href="/users">Back to users list</a>
        <input type="submit" th:value="${#httpServletRequest.requestURI.endsWith('new')} ? 'Create user' : 'Edit user'">
    </form>
</div>
</body>
</html>